img {
  max-width: 10%;
  height: auto;
}
.resized-image {
  max-width: 100%;
  height: 600px;
}
.point {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin-left: -4px;
  margin-top: -4px;
}

