img {
  max-width: 10%;
  height: auto;
}
.resized-image {
  width: 100%;
}
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-container,
#output-image-container {
  position: relative;
  display: inline-block;
  background-color: lightgrey;
  overflow: hidden;
}

#clickable-image,
#output-image {
  max-width: 700px;
  max-height: 600px;
  object-fit: contain;
}

#output-image-container {
  display: inline-block;
  width: 45%;
  height: 600px;
  overflow: hidden;
  background-color: lightgrey;
  text-align: center;
  line-height: 600px;
  vertical-align: middle;
}

.point {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 15px;
}

#upload-form {
  width: 100%;
}
#download-mask {
  display: none;
}
