<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segment Anything</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('send_static_file', filename='style.css') }}">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Segment Anything</h1>
        
        <!-- Add your hint text here -->
        <p class="text-center text-muted">在左边放入你想要提取的图片，然后点击图片上你想要提取的物品的多个点，点击process points，等待loading，即可分割你想要的图片！</p>

        <div class="row mt-4">
            <div class="col-md-6">
                <div id="image-container">
                    {% if session['uploaded_image'] %}
                        <img class="resized-image" id="clickable-image" src="{{ url_for('uploaded_file', filename=session['uploaded_image']) }}" alt="Image" />
                    {% else %}
                        <img class="resized-image" id="clickable-image" src="../uploads/default.png" alt="Image" />
                    {% endif %}
                </div>
            </div>            
            <div class="col-md-6 text-center" id="output-image-container">
                <span>Please process points to display output</span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <button id="process-points" type="button" class="btn btn-secondary mb-3">Process Points</button>
                <div id="loading" class="text-center" style="display:none;">
                    <div class="spinner-border text-primary" role="status">
                    </div>
                </div>
            </div>
        </div>        

        <div class="row mt-4">
            <div class="col-md-4">
                <button id="clear-points" type="button" class="btn btn-secondary">Clear Points</button>
            </div>
            <div class="col-md-4">
                <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" class="btn btn-secondary mb-3" id="image" name="image" data-text="Choose file" required>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <a id="download-mask" class="btn btn-primary" href="#" download="mask.png" style="display: none;">Download Mask</a>
            </div>
        </div>
    </div>
    
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('send_static_file', filename='main.js') }}"></script>
</body>
</html>
